@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding:0;
    margin:0;
}
:root{
    --background-color:#EEF4D4;
    --background-color-2:#DBBDC4;
    --background-color-3:#967D73;
    --button-color:#292929;
    --font-style:'Poppins', sans-serif;
    --heading-font:36px;
    --normal-font:20px;
    --medium-size-font:15px;
}
body{
    background:var(--background-color);
}
.wrapper{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items: center;
}
.container{
    padding:2em;
    background-color:white;
    width:70%;
    height:50vh;
}
.container h1{
    display:flex;
    justify-content:center;
    font-family:var(--font-style);
    font-size:var(--heading-font);
}
.container h2{
    display:flex;
    justify-content:center;
    font-family:'Poppins'
}
.login{
    display:flex;
    justify-content:space-evenly;
}
.login-img img{ 
    width:100%;
}
.login-text {
    display:grid;
    row-gap:.5em;
}
.email{
    color:var(--button-color);
    background:transparent;
    border:none;
    border-bottom:1px var(--button-color) solid;
    height:4em;
    outline:none;
}
.email::placeholder{
    font-size:var(--normal-font);
    
}
.password{
    color:var(--button-color);
    background:transparent;
    border:none;
    border-bottom:1px var(--button-color) solid;
    height:4em;
    outline:none;
}
.password::placeholder{
    font-size:var(--normal-font);
}
.btn{
    color:white;
    background:var(--button-color);
    height:3em;
    position:relative;
    left:3em;
    border:none;
    width:150px;
    border-radius:28px;
    font-size:var(--normal-font);
    transition:.5s ease-in-out;
}
.btn:hover{
    background:transparent;
    border:1px var(--button-color) solid;
    color:var(--button-color);
    cursor:pointer;
}
@media(max-width:1440px){
    body{
        max-width:100%
    }
}
@media(max-width:1024px){
    body{
        max-width:100%;
        height:auto;
    }
    .container{
        max-width:80%;
    }
    .login-img img{
        width:90%;
        height:auto;
    }
    .login-text{
        row-gap:2em;
    }
    .btn{
        left:1em;
    }
}
@media(max-width:800px){
    .login-img img{
        display:none;
    }
}
@media(max-width:425px){
    body{
        width:425px;
        overflow-x:hidden;
    }
    .container{
        width:400px;
        height:80vh;

        overflow:hidden;
    }
    .login{
        display:grid;
    }
    .login-img{
        display:flex;
        justify-content:center;
    }
    .login-img img{
        display:block;
        width:120%;
        height:auto;
        padding:10px;
    }
    .login-text{
        width:fit-content;
    }
    .email{
        width:330px;
    }
    .btn{
        left:4em;
    }
}
@media(max-width:375px){
    body{
        width:375px;

    }
    .container{
        width:70%;
    }
    .container h2{
        font-size:var(--medium-size-font);
    }
    .login{
        display:grid;
    }
    .login-img img{
        width:130%;
        padding:10px 0px;
        height:auto;
    }
    .login-text{
        width:200px;
        left:4em;
    }
    .email{
        width:260px;
    }
    .btn{
        left:3em;
    }
}
@media(max-width:320px){
    .container{
        width:60%;
        left:2em;
    }
    .login-text{
        left:2em;
    }
    .btn{
        width:60%;
        font-size:var(--medium-size-font);
        left:2em;
    }
    .login-text a{
        font-size:var(--medium-size-font);
        width:50%;
    }
}
